<a routerLink="/main" class="main">Назад</a>
<div class="container">
    <div class="chailCon">
        <div >

            <h1>Профиль</h1>
            <div>
                <p>Имя: {{ user.name }}</p>
                <p>электронная почта: {{ user.email }}</p>
                <p>телефона: {{ user.tel }}</p>
            </div>
        </div>
        <div class="con">
            <h2>Объявления</h2>
            <div class="boxs">
                <div class="mainBox">
                    <div class="box">
                        <!-- <a (click)="navigatePost(ad.id)"> -->
                        <div class="photo"></div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p> Lorem.</p>
                        <p>
                            11.11.2011
                        </p>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>